#!/usr/bin/env bash

RESTIC_PASSWORD=pass
RESTIC_REST_USERNAME=user
RESTIC_REST_PASSWORD=pass
_RESTIC_SERVER=foo.host:port
RESTIC_REPOSITORY=rest:http://${_RESTIC_SERVER}/${RESTIC_REST_USERNAME}/$(hostname)
RESTIC_READ_CONCURRENCY=15

BACKUP_TARGETS=(/home/mara)

export RESTIC_PASSWORD RESTIC_REPOSITORY RESTIC_REST_USERNAME RESTIC_REST_PASSWORD RESTIC_READ_CONCURRENCY BACKUP_TARGETS
